{% load static %}
{% if item %}

<tr id="cart-item-{{ item.product.id }}">
  <td><span class="font-w500">{{ item.product.name }}</span></td>
  <td>{{ item.product.price|floatformat:3}} DT</td>
  <td>
    <a hx-get="{% url 'update_cart' item.product.id 'increment' %}"
    hx-target="#cart-item-{{ item.product.id }}"
    hx-swap="outerHTML" style="cursor:pointer;" class="cursor-pointer badge light badge-primary">+</a>
    <span style="padding:3px;">{{item.quantity}}</span>
    <a hx-get="{% url 'update_cart' item.product.id 'decrement' %}"
    hx-target="#cart-item-{{ item.product.id }}"
    hx-swap="outerHTML" style="cursor:pointer;" class="badge light badge-primary">-</a>
  </td>
  <td>{{ item.total_price|floatformat:3 }} DT</td>
</tr>

{% endif %}
