{% load static %}
{% for p in products %}
            <div class="add-to-cart" data-product-id="{{ p.id }}" style="cursor:pointer;"
            class="col-xl-3 col-xxl-4 col-lg-6 col-md-12 col-sm-6">
                <div class="card item-card">
                    <div class="card-body p-0">
                        <img src="{% static 'frontend/images/dish/2.jpg'%}" class="img-fluid" alt="">
                        <div class="info">
                            <h5 class="name">{{p.name}}</h5>
                            <h6 class="mb-0 price"><img src="{% static 'frontend/images/veg.png'%}" alt="">{{p.price}} DT</h6>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}