{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-wrapper">
            <!-- row -->
			<div class="listcontent-area">
				<aside class="cart-area  dz-scroll" id="cart_area">
					<div class="" >
						<div class="h-100" id="home-counter">
							<div class="card">
								<div class="card-body">
									<img src="{% static 'frontend/images/counter.jpg'%}" class="img-fluid mb-5" alt="">
									<h3 class="title mb-4">Votre commande à porté de main !</h3>
									<p class="mb-sm-5 mb-3">Cliquez sur n'importe quel produit et bon appétit.</p>
									<!-- <a href="javascript:void(0);" id="add-order" class="btn btn-warning btn-rounded me-3">Add Order</a> -->
									<!-- <a href="front-orders_status.html" class="btn btn-warning light btn-rounded">Order Status</a> -->
								</div>
							</div>
						</div>
						<div class="h-100" id="add-order-content">
							<div class="card rounded-0">
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table text-black">
											<thead>
												<tr>
													<th>ITEM</th>
													<th>PRICE</th>
													<th>QNT.</th>
													<th>TOTAL($)</th>
												</tr>
											</thead>
											<tbody id="cart-items">
                        {% for item in cart %}
                          {% include "pages/cart_item.html" %}
                        {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="card-order-footer">
								<!-- <div class="amount-details">
									<h5 class="d-flex text-right mb-3">
										<span class="text">Sub total </span>
										<span class="me-0 ms-auto">0.00</span>
									</h5>
									<h5 class="d-flex text-right mb-3">
										<span class="text">Tax</span>
										<span class="me-0 ms-auto"> 0.00</span>
									</h5>
									<h5 class="d-flex text-right mb-3">
										<span class="text">Other Charge</span>
										<span class="me-0 ms-auto">0.00</span>
									</h5>
								</div> -->
								<div class="amount-payble">
									<h5 class="d-flex text-right mb-0">
										<span class="text">Montant à payer</span>
										<span class="me-0 ms-auto"
                    hx-get="{% url 'hx_cart_total' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML">{% include 'pages/cart_total.html' %}</span>
									</h5>
								</div>

								<div class="btn_box">
									<div class="row no-gutter mx-0">
										<a href="javascript:void(0);" id="home-counter-tab" class="btn btn-danger btn-block col-6 m-0 rounded-0">Cancel</a>
										<a href="javascript:void(0);" id="place-order-tab" class="btn btn-primary btn-block col-6 m-0 rounded-0">Place Order</a>
									</div>
								</div>
							</div>
						</div>
						<div class="h-100" id="place-order" >
							<div class="card rounded-0">
								<div class="card-body">
									<form>
										<h4 class="mb-4">Montant à payer <strong class="me-0 ms-auto"
                    hx-get="{% url 'hx_cart_total' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML">{% include 'pages/cart_total.html' %}</strong></h4>
										<div class="form-group mb-4 pb-2">
											<label class="font-w600">Selectionnez la méthode de paiement :</label>
											<div class="row no-gutters align-items-center">
												<div class="col-6 col-sm-6 col-md-6 col-lg-4">
													<div class="custom-control custom-radio">
														<input checked="" type="radio" id="cash" name="PaymentMethod" class="custom-control-input">
														<label class="custom-control-label" for="cash"><span class="ms-2">Cash</span></label>
													</div>
												</div>
												<div class="col-6 col-sm-6 col-md-6 col-lg-4">
													<div class="custom-control custom-radio">
														<input type="radio" id="card" name="PaymentMethod" class="custom-control-input">
														<label class="custom-control-label" for="card"><span class="ms-2">Carte</span></label>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group mb-4 pb-2">
											<label class="font-w600">Scannez le QR Code de la table :</label>
											<div class="row no-gutters align-items-center">
												<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                          <button id="ScanTableButton" class="btn btn-primary btn-block col-12 m-0 rounded-0" type="button" style="margin:auto;" onclick="ScanCode()">Scan Table's QR Code</button>
                    <video id="preview" style="border-radius: 10px;margin:auto;display: none"  width="250" height="250"></video>
                    <!-- Afficher le résultat de la lecture du QR code -->
                    <h1 id="result" style="text-align: center;"></h1>
                    <input type="hidden" name="table_number" value="35" id="table_number">
            <script type="text/javascript" src="{% static 'js/instascan.min.js' %}"></script>
            <script type="text/javascript">
              // Obtenir la référence à la vidéo de prévisualisation
              let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });

              // Ajouter un événement de détection du QR code
              scanner.addListener('scan', function (content) {
                // Afficher le résultat de la lecture du QR code
                document.getElementById('result').textContent = "Table : "+ content;
                document.getElementById('preview').style.display="none";
                document.getElementById('table_number').value=content;
                scanner.stop();
              });
                function ScanCode(){
                    document.getElementById('ScanTableButton').style.display="none";
                    document.getElementById('preview').style.display="block";
                     // Démarrer le scanner
                      Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                          scanner.start(cameras[0]);
                        } else {
                          console.error('Pas de caméra disponible.');
                        }
                      }).catch(function (e) {
                        console.error(e);
                      });
                }

            </script>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="font-w600">Informations Client (Optionnel)</label>
											<input type="text" class="form-control solid" placeholder="Prénom">
										</div>
										<div class="form-group">
											<input type="text" class="form-control solid" placeholder="Numéro de téléphone">
										</div>
									</form>
								</div>
							</div>
							<div class="card-order-footer">
								<div class="btn_box">
									<div class="row no-gutter mx-0">
										<a href="javascript:void(0);" id="place-order-cancel" class="btn btn-danger btn-block col-6 m-0 rounded-0">Cancel</a>
										<a href="front-home.html" class="btn btn-primary btn-block col-6 m-0 rounded-0">Submit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
                <div class="row">
					<div class="col-xl-12">
						<div class="owl-carousel item-carousel">
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/1.png'%}" alt="">
									<h5 class="title mb-0">soft drink</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box active">
									<img src="{% static 'frontend/images/food-icon/2.png'%}" alt="">
									<h5 class="title mb-0">fast food</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/3.png'%}" alt="">
									<h5 class="title mb-0">pastry</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/4.png'%}" alt="">
									<h5 class="title mb-0">burger</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/5.png'%}" alt="">
									<h5 class="title mb-0">chinese</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/6.png'%}" alt="">
									<h5 class="title mb-0">vegetable</h5>
								</div>
							</div>
							<div class="items">
								<div class="item-box">
									<img src="{% static 'frontend/images/food-icon/7.png'%}" alt="">
									<h5 class="title mb-0">watermelon</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-12">
						<!-- <div class="input-group search-area style-1 mb-4">
							<input type="text" class="form-control" placeholder="Search here...">
							<div class="input-group-append">
								<button class=" btn btn-primary btn-rounded">Search<i class="flaticon-381-search-2 scale3 ms-3"></i></button>
							</div>
						</div> -->
						<div class="row" id="product-list">
{#                            <script>#}
{#                          function add_to_cart(event, product_id) {#}
{#                            event.preventDefault();#}
{##}
{#                            fetch("{% url 'add_to_cart' 0 %}".replace("0", product_id), {#}
{#                              method: "POST",#}
{#                              headers: {#}
{#                                "Content-Type": "application/json",#}
{#                                "X-CSRFToken": "{{ csrf_token }}"#}
{#                              },#}
{#                              body: JSON.stringify({#}
{#                                "product_id": product_id#}
{#                              })#}
{#                            })#}
{#                            .then(response => response.json())#}
{#                            .then(data => {#}
{#                              // Update the cart data on the page using JavaScript#}
                                {#console.log(data);#}
{#                              document.getElementById("cart-count").innerText = data.cart_count;#}
{#                              document.getElementById("cart-total").innerText = data.cart_total;#}
{#                            });#}
{#                          }#}
{#                        </script>#}

              {% include 'pages/cart_items.html' %}
                        <script>
                                $(document).ready(function() {
                                    // Lorsqu'un utilisateur clique sur le bouton "Ajouter au panier"
                                    $('.add-to-cart').click(function(event) {
                                        event.preventDefault();
                                        var productId = $(this).data('product-id');

                                        // Envoyer une requête AJAX à la vue add_to_cart avec le produit ID
                                        $.ajax({
                                            url: '/add_to_cart/' + productId + '/',
                                            method: 'GET',
                                            success: function(response) {
                                                // Mettre à jour le contenu du panier dans la page HTML
                                                $('#cart-items').html(response);
                                                console.log("LES ITEMS");
                                                console.log(response.products);
                                            },
                                            error: function(error) {
                                                console.log(error);
                                            }
                                        });
                                    });
                                });
                            </script>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="http://dexignzone.com/" target="_blank">DexignZone</a> 2021</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
{% endblock %}
