{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-wrapper">
            <!-- row -->
			<div class="container-fluid bg-gray">
				<div class="row order-row" id="masonry">
          <script type="text/javascript">
          function updateCounter(isoDateStr,theId) {
            var startTime = new Date(isoDateStr);
            // console.log(startTime);
            var counterElement = document.getElementById(theId);

            var counterHeader = document.getElementById("header-"+theId);

            setInterval(function() {
              var elapsedTime = (new Date() - startTime) / 1000;
              var minutes = Math.floor(elapsedTime / 60);
              var seconds = Math.floor(elapsedTime % 60);
              if(parseInt(("0" + minutes).slice(-2))>9){
              counterHeader.classList.add('bg-danger');
              counterHeader.classList.remove('bg-warning', 'bg-success');}
              else if (parseInt(("0" + minutes).slice(-2))>5){
              counterHeader.classList.add('bg-warning');
              counterHeader.classList.remove('bg-danger', 'bg-success');}
              else{
                counterHeader.classList.add('bg-success');
                counterHeader.classList.remove('bg-danger', 'bg-warning');
              }
              // console.log(elapsedTime);
              // console.log(seconds);
              counterElement.innerHTML = ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);
            }, 1000);
          }
          </script>
          {% for key, value in query.items %}
					<div class="card-container">
						<div class="card shadow-sm">
							<div class="card-header bg-danger text-white" id="header-counter-{{value.order.id}}">
								<div>
									<h4 class="text-white">Table {{value.order.table.table_number}}</h4>
									<span class="fs-12 op9">#{{value.order.id}}</span>
								</div>
								<h3 class="text-white" id="counter-{{value.order.id}}">00:00</h3>
                <!-- <div id="counter">00:00</div> -->
        <script>

        updateCounter('{{ value.order.created_at|date:"c" }}','counter-{{value.order.id}}');
        </script>
							</div>
							<div class="card-body">
								<ul class="order-list">
                  {% for item in value.items %}
									<li><span>{{item.quantity}}</span> {{item.product.name}}</li>
                  {% endfor %}
                  <!-- <li><del><span>1</span>xxx</del></li> -->

								</ul>
							</div>
						</div>
					</div>
{% endfor %}
				</div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->

        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
{% endblock %}
